<div class="row">
<div class="col-lg-6 bsa well">
<h3>Welcome to #NITK-Agile-Dev's Home!</h3>
<p>You can find all the information you need about this project on this site.</p>
</div>
<div class="col-lg-4 bsa well" style="margin-left:50px;">
<h3>Agenda:</h3>
<p>Week 1: Git.</p>
</div>

</div>
